body {

  font-family: "Momo Trust Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

a {
  color: rgb(200, 0, 20);
  text-decoration: none;
  font-weight: bold;
}

main img {
  width: 250px;
}

p {
  font-size: 1.2em;
}